<DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>Fact Findr</title>
            <link rel="stylesheet" href="../static/styles/style.css">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        </head>
        <body>
            <section >
                <div class="logoContainer">
                    <img class="logo" src="https://i.ibb.co/ry1cWjp/ba769273ec0445ee910e168bbc46829a-3.png">
                </div>
                <h2> For those who seek the <em>truth</em></h2>
                {% if search_query %}
                <form method="POST" >
                    <input type="text" name="search_query" value="{{original_search}}">
                    <button type="submit">Search</button>
                </form>
                    <h3>Search Results: </h3>
                    <p>{% autoescape false %}
                        {{search_query.decode("unicode-escape")}}
                {% endautoescape %}</p>
                {% else %}
                <form method="POST" >
                    <input type="text" name="search_query" placeholder="Type your question here">
                    <button type="submit">Search</button>
                </form>
                {% endif %}
            </section>
        </body>
    </html>
</DOCTYPE>