.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
}
.container {
  display: block;
  align-content: center;
  margin-top: 35vh;
}
factFindr {
  margin-left: 10vw;
  margin-bottom: 5vh;
  font-size: 50pt;
  align-self: center;
  display: flex;
}
.searchbar {
  display: flex;

  align-self: center;
  width: 60vw;
  height: 5vh;
}
form {
  display: flex;
  align-self: center;
  margin-left: 25vw;
  /*margin-top: 40vh;*/
  width: 50vw;
}
input {
  width: 50vw;
}
p {
  padding-left: 32vw;
  padding-top: 5vh;
  padding-bottom: 2vh;
  font-size: 30pt;
  font-weight: bold;
  color: darkred;
}
svg {
  padding-left: 35vw;
}

body {
    background-color: bisque;
}
