.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
}
.container {
  display: block;
  align-content: center;
  margin-top: 35vh;
}
factFindr {
  margin-left: 10vw;
  margin-bottom: 5vh;
  font-size: 50pt;
  align-self: center;
  display: flex;
}
.searchbar {
  display: flex;

  align-self: center;
  width: 60vw;
  height: 5vh;
}
form {
  display: flex;
  align-self: center;
  margin-left: 25vw;
  width: 50vw;
}
input {
  width: 50vw;
}
h2 {
  text-align: center;
  font-size: 30pt;
  font-weight: bold;
  color: #073763;
}
svg {
  padding-left: 35vw;
}

body {
  background-color: #a8c1c2;
} /*9bbfc0*/

/* search results header */
h3 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #000000;
  text-align: left;
}

/* result dictionary */
p {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: lighter;
  color: #000000;
  text-align: left;
}
.title {
  display: flex;
  padding-right: 5vw;
  width: 15vw;
  font-size: 11px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
.articleBody {
  display: flex;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: lighter;
  color: #000000;
  text-align: left;
  width: 75vw;
  padding-right: 5vw;
}
.searchResult {
  display: flex;
}
.titleLink {
  width: 100%;
}
.logo {
  display: flex;
  background-color: transparent;
  width: 300px;
  height: 300px;
  border: 0;
}
.logoContainer {
  height: 250px;
  display: flex;
  align-content: center;
  justify-content: center;
}
